@import "tailwindcss";

@theme{
  --color-primary:#222831;
  --color--secondary:#393E46;
  --color-third:#00ADB5;
  --color-fourth:#EEEEEE;
}
body{
  @apply  dark:text-white dark:bg-black bg-[#EEEEEE] text-black
}
